
$green: #42BD56;
$bj: #ffffff;
$gray: #A6AAAF;
$bjgray:#f9f9f9;
$baseFontSize: 75;
@mixin sc($size,$color) {
  font-size:$size;
  color:$color
}

@mixin wh($w,$h) {
  width: $h;
  height: $h;
}

@mixin flex($type:space-between ) {
  display: flex;
  justify-content: $type;
}

@mixin wh($w,$h) {
  width:$w;
  height:$h;
}
@mixin bimg($url) {
  background: url($url);
  background-size:100%;
  background-repeat: no-repeat;
}

@mixin Omitted($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

@function px2rem($n) {
  @return $n / 75 * 2rem;
}



